################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hellwig.VC.VC.opendb
Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Hellwig/GeneratedFiles
/Hellwig/x64/Debug
/x64/Debug
/Hellwig/test.txt
/x64/Release/data/data2.data
/Hellwig/x64/Release
/Hellwig/data_gus.data
/x64/Release/data/data.txt
